<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous" />

    <!-- Bootstrap ICONS -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    <!-- Bootstrap JS -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="/favicon/apple-touch-icon.png" />
    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="/favicon/favicon-32x32.png" />
    <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="../favicon/site.webmanifest" />

    <!-- <script src="/frontJS/dashboard.js"></script> -->
    <script src="/frontJS/logout.js"></script>
    <script src="/frontJS/adminDashboardMenu.js" defer></script>
    <!-- Local CSS File -->
    <link rel="stylesheet" href="../stylesheets/admindashboard.css" />
    <title>eLibrary</title>
</head>

<body class="container-fluid p-0">
    <!-- NAVBAR MENU -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
        <div class="container">
            <a href="./index.html" class="navbar-brand"><img src="../favicon/favicon.ico" /></a>

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto gap-2">
                    <li class="nav-item">
                        <a href="./search.html">
                            <button type="button" class="btn btn-outline-secondary">
                                Search<i class="bi bi-search ps-2"></i>
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./index.html"><button type="button" class="btn btn-outline-secondary">
                                Home<i class="bi bi-house ps-2"></i></button></a>
                    </li>
                    <li class="nav-item">
                        <a href="#"><button type="button" class="btn btn-outline-secondary">
                                My Account<i class="bi bi-person ps-2"></i></button></a>
                    </li>
                    <li id="logoutBtn" class="nav-item">
                        <button
                            type="button"
                            onclick="logout()"
                            class="btn btn-outline-danger">
                            Logout
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main style="display: table-row" class="bg-primary text-center h-100">

        <div id="menu"
            class="
                    align-content-center justify-content-center w-100 h-100 row row-cols-4 row-cols-md-6">
            <div class="col">
                <div class="col card shadow border-secondary" onclick="viewRemoveBooks()">
                    <div class="card-header"><i class="bi bi-journal-x" style="font-size: 4em;"></i></div>
                    <div class="card-body ">
                        <h5 class="card-title">Remove books</h5>
                        <p class="card-text text-secondary text-truncate"> Remove unwanted books</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="col card shadow border-secondary ">
                    <div class="card-header"><i class="bi bi-journal-plus" style="font-size: 4em;"></i></div>
                    <div class="card-body ">
                        <h5 class="card-title">Request a book</h5>
                        <a href="/addBook.html" class="stretched-link"></a>
                        <p class="card-text text-truncate text-secondary">Submit arequest for a new book</p>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="col card shadow border-secondary" onclick="viewOutstandingBooks()">
                    <div class="card-header"><i class="bi bi-archive" style="font-size: 4em;"></i></div>
                    <div class="card-body ">
                        <h5 class="card-title">Outstanding books</h5>
                        <p class="card-text text-secondary text-truncate">View which books are outstanding</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col card shadow border-secondary" onclick="viewBooksDatabase()">
                    <div class="card-header"><i class="bi bi-journals" style="font-size: 4em;"></i></div>
                    <div class="card-body ">
                        <h5 class="card-title">Books Database</h5>
                        <p class="card-text text-secondary text-truncate">View all books</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col card shadow border-secondary" onclick="viewUsersDatabase()">
                    <div class="card-header"><i class="bi bi-people" style="font-size: 4em;"></i></div>
                    <div class="card-body ">
                        <h5 class="card-title">Users Database</h5>
                        <p class="card-text text-secondary text-truncate">View all users</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col card shadow border-secondary" onclick="viewBookRequestsDatabase()">
                    <div class="card-header"><i class="bi bi-journal-code" style="font-size: 4em;"></i></div>
                    <div class="card-body ">
                        <h5 class="card-title">Book Requests Database</h5>
                        <p class="card-text text-secondary text-truncate">View all book requests</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- Remove books -->
        <div id="removeBooks" hidden class="align-content-center h-100 my-3">
            <div class="container shadow bg-white my-auto p-3">
                <div>
                    <i id="return" onclick="viewMenu()" class="bi bi-x-lg"></i>
                </div>
                <hr class="mb-0" />
                <div id="removeBooksLoadingWheel" hidden class="spin" style="position: relative;height: 100px;"></div>
                <table hidden style="text-align: left;">
                    <tbody id="removeBookTable">

                    </tbody>
                </table>
            </div>
        </div>

        <!-- Outstanding books -->
        <div id="outstandingBooks" hidden class="align-content-center h-100">
            <div class="container shadow bg-white my-auto">
                <div id="noOutstandingBooks">
                    <h2>No outstanding books</h2>
                </div>
                <div hidden id="outstandingBooksList">
                    <h2>Books outstanding</h2>
                    <table class="table table-bordered border-secondary">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Due Date</th>
                                <th>Student Name</th>
                                <th>Student ID</th>
                            </tr>
                        </thead>
                        <tbody id="outstandingBooksTable">

                        </tbody>
                    </table>
                </div>
                <hr class="mb-0" />
                <div>
                    <i id="return" onclick="viewMenu()" class="bi bi-arrow-return-left"></i>
                </div>
            </div>
        </div>

        <!-- book database -->
        <div id="booksDatabase" hidden class="align-content-center h-100 my-3">
            <div class="container shadow bg-white my-auto p-3">
                <div>
                    <i id="return" onclick="viewMenu()" class="bi bi-x-lg"></i>
                </div>
                <hr class="mb-0" />
                <div id="booksLoadingWheel" hidden class="spin" style="position: relative;height: 100px;"></div>
                <table hidden class="table table-bordered border-secondary">
                    <thead>
                        <tr>
                            <th>ISBN</th>
                            <th>ISBN13</th>
                            <th>Title</th>
                            <th>Authors</th>
                            <th>Publisher</th>
                            <th>Date</th>
                            <th>Edition</th>
                            <th>Language</th>
                            <th>Pages</th>
                            <th>Available Copies</th>
                            <th>Total copies</th>
                        </tr>
                    </thead>
                    <tbody id="bookDatabaseTable">
                    </tbody>
                </table>
            </div>
        </div>

        <!-- users database -->
        <div id="usersDatabase" hidden class="align-content-center h-100 my-3">
            <div class="container shadow bg-white my-auto p-3">
                <div>
                    <i id="return" onclick="viewMenu()" class="bi bi-x-lg"></i>
                </div>
                <hr/>
                <div id="usersLoadingWheel" hidden class="spin" style="position: relative;height: 100px;"></div>
                <table hidden class="table table-bordered border-secondary">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody id="usersDatabaseTable">

                    </tbody>
                </table>
            </div>
        </div>

        <!-- book requests database -->
        <div id="bookRequestsDatabase" hidden class="align-content-center h-100 my-3">
            <div class="container shadow bg-white my-auto p-3">
                <div>
                    <i id="return" onclick="viewMenu()" class="bi bi-x-lg"></i>
                </div>
                <hr/>
                <table hidden class="table table-bordered border-secondary">
                    <thead>
                        <tr>
                            <th>ISBN</th>
                            <th>Title</th>
                            <th>Authors</th>
                            <th>Publisher</th>
                        </tr>
                    </thead>
                    <tbody id="bookRequestsDatabaseTable">
                        
                    </tbody>
                    <div id="bookRequestsLoadingWheel" hidden class="spin" style="position: relative;height: 100px;"></div>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalBody">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="modalRemoveButton" type="button" class="btn btn-danger">Remove</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Good Toast-->
        <div class="position-fixed bottom-0 start-50 translate-middle-x p-3" style="z-index: 11">
            <div id="goodToast" class="toast border border-3 border-success align-items-center shadow" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div id="goodToastMessage" class="toast-body text-success"></div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>

        <!-- Bad toast -->
        <div class="position-fixed bottom-0 start-50 translate-middle-x p-3" style="z-index: 11">
            <div id="badToast" class="toast border border-3 border-danger align-items-center shadow" role="alert" aria-live="assertive"
                aria-atomic="true">
                <div class="d-flex">
                    <div id="badToastMessage" class="toast-body text-danger">
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>

    </main>
    <!-- Footer -->
    <footer class="p-5 bg-dark text-white text-center">
        <div class="container">
            <p class="lead">Copyright © 2021 Library Website</p>
        </div>
    </footer>

    <script src="../frontJS/dashboard.js"></script>

</body>

</html>