<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Bootstrap ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>


    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">

    <!-- Local CSS File -->
    <link rel="stylesheet" href="../stylesheets/book.css">
    <title>eLibrary</title>

    <!-- Local JS Script -->
    <script src="../frontJS/book.js" defer></script>
</head>

<body class="container-fluid">

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 sticky-top">
        <div class="container">
            <a href="/" class="navbar-brand"><img src="../favicon/favicon.ico"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto gap-2">
                    <li class="nav-item">
                        <a href="/"><button type="button" class="btn btn-outline-secondary">Library<i
                                    class="bi bi-search ps-2"></i></button></a>
                    </li>
                    <li class="nav-item">
                        <a href="/"><button type="button" class="btn btn-outline-secondary">Home<i
                                    class="bi bi-house ps-2"></i></button></a>
                    </li>
                    <li class="nav-item">
                        <a href="/dashboard.html"><button type="button" class="btn btn-outline-secondary">Dashboard<i
                                    class="bi bi-person ps-2"></i></button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="bg-primary d-flex justify-content-center" style="flex-direction: column;" >
        <div id="book" class="card container shadow bg-dark text-secondary" >
            <div id="cardHeader" class="card-header">
                <h4 id="title"></h4>
            </div>
            <div id="cardBody" class="card-body d-flex">
                <img id="bookCover" class="m-3">
                <div>        
                    <p id="authors">By </p>
                    <p id="publisher"></p>
                    <p id="date"></p>
                    <p id="edition">Edition: </p>
                    <p id="pages">Pages: </p>
                    <p id="isbn">ISBN10: </p>
                    <p id="isbn13">ISBN13: </p>
                </div>
            </div>
            <div hidden id = "removeBookBtn" class="card-footer">
                <button id="removeButton" onclick="removeBook()" class="btn btn-outline-danger">Remove book</button>
            </div>
        </div>
        <div id="error" hidden class="card shadow bg-dark text-secondary">
            <h3>Book not found</h3>
        </div>
        <div class="position-fixed bottom-0 start-50 translate-middle-x p-3" style="z-index: 11">
            <div id="goodToast" class="toast border border-3 border-success align-items-center shadow" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body text-success">
                        Book removed successfully
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>
        <div class="position-fixed bottom-0 start-50 translate-middle-x p-3" style="z-index: 11">
            <div id="badToast" class="toast border border-3 border-danger align-items-center shadow" role="alert" aria-live="assertive"
                aria-atomic="true">
                <div class="d-flex">
                    <div id="removeError" class="toast-body text-danger">
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>
    </main> 
</body>