<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">
    <!-- Local CSS -->
    <link rel="stylesheet" href="../stylesheets/login.css">

    <title>eLibrary</title>
  </head>
  <body>
    
    <section class="Form my-4 mx-5">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-5">
                    <img src="../pictures/lib-main.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <img id="logo" src="../favicon/logo.svg">
                    <h5 style="color: whitesmoke;" class="my-3">Sign in to your account</h5>
                    <form id="form" action="#"> <!-- action take it to the dashboard page if successful after submitting-->
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="text" id="email" placeholder="University Email Address" onkeydown="scriptValidation()" class="form-control my-3 p-2">
                                <span id="text"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="password" placeholder="Password" class="form-control my-3 p-2">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <button type="button" class="login-btn">Sign in</button>
                            </div>
                        </div>
                        <p style="color: white;" class="my-3">Don't have an account?  <a href="#" style="color: red;"> Register here</a> </p>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Linking login JS -->
    <script src="./login.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>