<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="../stylesheets/register.css">

    <title>eLibrary</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand"> LOGO GOES HERE</a>

            <button 
            class="navbar-toggler" 
            type="button"
            data-bs-toggle="collapse" 
            data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="./index.html" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="./login.html">
                        <button type="button" class="btn btn-outline-primary">
                            Login</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="Form my-5 p-5">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-10 px-5 pt-5">
                    <h1 class="px-5 text-white">Register a new account</h1>
                    <form>
                        <div class="form-group row px-5 my-2 p-2">
                            <label for="inputFirstName" class="col-sm-2 col-form-label text-white">First Name: 
                                <label class="text-danger">*</label>
                            </label>
                            <div class="col-sm-7">
                              <input type="firstname" class="form-control" id="inputFirstName" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group row px-5 my-2 p-2">
                            <label for="inputLastName" class="col-sm-2 col-form-label text-white">Last Name: 
                                <label class="text-danger">*</label>
                            </label>
                            <div class="col-sm-7">
                              <input type="lastname" class="form-control" id="input:LastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group row px-5 my-2 p-2">
                            <label for="inputEmail" class="col-sm-2 col-form-label text-white">Email: 
                                <label class="text-danger">*</label>
                            </label>
                            <div class="col-sm-7">
                                <input type="email" class="form-control" placeholder="University Email Address">
                            </div>
                        </div>
                        <div class="form-group row px-5 my-2 p-2">
                            <label for="inputPassword" class="col-sm-2 col-form-label text-white">Password: 
                                <label class="text-danger">*</label>
                            </label>
                            <div class="col-sm-7">
                              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group row px-5 p-2">
                            <div class="col-md-5 mb-1 btn-group-toggle text-center" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg" active>
                                  <input type="radio" name="options" id="option1" autocomplete="off" checked> I am <br>a Student
                                </label>
                            </div>
                            <div class="col-md-4 mb-1 btn-group-toggle text-center" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg">
                                  <input type="radio" name="options" id="option2" autocomplete="off"> I am a <br>Staff
                                </label>
                            </div>
                        </div>
                        <div class="form-row px-5 p-2">
                            <div class="col-sm-10 text-center">
                                <a href="./userDashboard.html">
                                    <button type="button" class="btn btn-outline-light btn-md"><b>Register</b></button>
                                </a>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-10 text-center">
                                <p class="text-white">Already have an account?  
                                    <a href="./login.html">
                                        <button type="button" class="btn btn-outline-light btn-sm">Login</button>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2">
                    <!--<div class="form-row">
                         <img src="./pictures/lib-main.jpg" class="pull-right img-responsive" alt="">
                    </div>-->
                    <div class="col d-flex justify-content-end img-fluid rounded">
                        <img src="./pictures/lib-main.jpg" alt="">
                    </div>
                    <!--<img src="./pictures/lib-main.jpg" class="img-fluid rounded float-right" alt=""> this doesn't work :( tried to put img on RHS-->
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Us -->
    <section id="contact" class="bg-light text-dark p-2 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                
                <h2 class="text-center py-4">University Library</h2>
                <div>
                <h2 class="text-center">Ask Library</h2>
                <h2 class="lead text-center">Call us 00 0000 0000 </h2>
                <h2 class="lead text-center">library@university.edu.au</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="p-2 bg-dark text-white text-center position-relative">
        <div class="container">
            <p class="lead">Copyright &copy; 2021 Library Website</p>
        </div>
    </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>