.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5) !important;
}

.card {
    cursor: pointer;
}

#booksList {
    text-align: start;
}

#return {
    cursor: pointer;
    font-size: 2em;
}

#removeBooks {
    display: flex;
}

#outstandingBooks {
    display: flex;
}

td {
    margin: 0.5em;
}

tr:hover{
    background-color: #aaaaaa;
}

.bookListItem {
    padding: 1em;
}

.bookListItem a img {
    max-height: 160px;
}

html, body {
    height: 100%;
}

body {
    display: table;
}

.row {
    margin-left: 0;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
.spin::before {
    position: absolute;
    display: inline-block;
    animation: 1s cubic-bezier(.68,-0.55,.27,1.55) infinite spinner;
    animation-play-state: inherit;
    border: solid 5px rgba(184, 165, 165, 0.250);
    border-bottom-color: #0D6EFD;
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}
