.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5) !important;
}

.card {
    cursor: pointer;
}

#booksList {
    text-align: start;
}

#return {
    cursor: pointer;
    font-size: 2em;
}

.bookListItem {
    padding: 1em;
}

html, body {
    height: 100%;
}

body {
    display: table;
}

.row {
    margin-left: 0;
}